@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add these styles to your CSS file */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .intro-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add border-radius for rounded corners if needed */
  }
  
  .login-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    
  }
  
  .login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-body {
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    margin-bottom: 15px;
  }
  
  .login-label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .login-input-field {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .login-message {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .login-link {
    color: blue;
    text-decoration: none;
  }
  
  .login-btn {
    background-color: green;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .contact {
    display: flex;
    width: 1400px;
    margin: 30px auto;
    padding: 40px;
    gap: 40px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 0.2rem;
  }
  
  .contact-title {
    color: #a40e4c;
  }
  
  .contact-btn {
    justify-self: flex-end;
    margin-top: 9rem;
  }
  

